body {
  position: relative;
  width: 100%;
  height: 1024px;
  background: #E5E5E5;
}

textarea {
  font-size: 32px;
  font-weight: 100;
  border: none;
  background-color: #ffffff;
  width: 70%;
  height: 70%;
  font-size: 32px;
  outline: none;
  resize: none;
}

.hidden {
  display: none;
}

.card {
  background: white;
  position: absolute;
  border-radius: 32px;
  width: 333px;
  height: 760px;
  left: 969px;
  top: 37px;
}

.textAviso {
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 284px;
  left: 223px;
}

.textoEbnt {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.fixarRodape {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #0A3871;
  top: 941px;
  right: 16px;
  left: 0px;
  height: 83px;
  width: 1492px;
  border-radius: 16px 16px 16px 16px;
}

#iconePrincipal {
  position: absolute;
  width: 31.09px;
  top: 40px;
  left: 61px;
}

#iconeCard {
  position: absolute;
  width: 316px;
  height: 304px;
  left: 7px;
  top: 84px;
}

#inputMensagemSecreta {
  position: absolute;
  width: 660px;
  height: 32px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
  background-color: #E5E5E5;
  top: 168px;
  left: 240px;
}

#bntCriptor {
  position: absolute;
  padding: 24px;
  gap: 8px;
  width: 328px;
  background: #0A3871;
  border-radius: 24px;
  border: 1px solid #0A3871;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 240px;
  bottom: 348px;
}

#bntDescriptor {
  box-sizing: border-box;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  bottom: 348px;
  left: 591px;
}

#bntCopiarTexto {
  position: absolute;
  padding: 24px;
  gap: 8px;
  width: 224px;
  border: 1px solid #c6c6c7;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  bottom: 115px;
  left: 61px;
}

#iconeAviso {
  position: absolute;
  left: 240px;
  bottom: 423px;
}

#paragrafoAviso {
  position: absolute;
  width: 228px;
  height: 18px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 265px;
  bottom: 423px;
}

#paragrafoMenssagem {
  position: absolute;
  width: 344px;
  height: 47px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: #343A40;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  top: 488px;
  left: 5px;
}

#paragrafoTexto {
  position: absolute;
  width: 336px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  top: 562px;
  left: 1px;
}

#iconeLinkedin {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 50px;
  top: 13px;
}

#iconeGithub {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 50px;
  top: 48px;
}

#paragrafoRodapeLinkedin {
  position: absolute;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: white;
  left: 91px;
  top: 2px;
}

#paragrafoRodapeGithub {
  position: absolute;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: white;
  left: 91px;
  top: 38px;
}

#paragrafoRodape {
  position: absolute;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: white;
  left: 145px;
  top: 34px;
}

#recebeMensagem {
  position: absolute;
  height: 522px;
  left: 20px;
  top: 29px;
  width: 295px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;

}

/*Celular */

@media (min-width: 375px) and (max-width: 600px) {
  
  .card {
    width: 359px;
    height: 533px;
    left: 8px;
    top: 434px;
 }
 
 #iconeCard {
  width: 100%;
  height: 314px;
  left: 0px;
  top: 11px;
 }
 
 #paragrafoMenssagem {
  top: 344px;
  left: 11px;
 }
 
 #paragrafoTexto {
  top: 411px;
  left: 11px;
 
 }
 
 #inputMensagemSecreta {
  top: 239px;
  left: 55px;
  width: 283px;
  height: 36px;
}

 .iconesRedeSocieal {
  position: absolute;
  left: -26px;
  top: -1px;
  height: 73px;
  bottom: 85px;
  right: 4px;
 }
   
 .fixarRodape{
  top: 1355px;
  height: 77px;
  width: 371px;
  left: 2px;
}
 
 #paragrafoRodape {
    left: 99px;
    top: 17px;
 }
 
#iconePrincipal {
    top: 85px;
    left: 47px;
 }
 
 #bntCopiarTexto {
    left: 69px;
    bottom: 33px;
 }

 #bntCriptor {
  left: 26px;
  bottom: -138px;
}

#bntDescriptor {
  bottom: -231px;
  left: 26px;
}

#paragrafoAviso {
  left: 78px;
  bottom: 618px;
}

#iconeAviso {
  left: 58px;
  bottom: 619px;
}

#recebeMensagem {
  left: 40px;
  top: 3px;
  width: 295px;

}

}

@media (max-width: 768px)
/*Tablet*/
  {
    body {
      position: relative;
      width: 100%;
  
    }
  
    footer {
      text-align: center;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  
    .logo {
      margin: 40px 0 80px 30px;
    }
  
    .logo:hover {
      margin: 30px 0 0 20px;
      animation: expandir 1s;
    }
  
    .fixarRodape {
      width: 535px;
      top: 1086px;
      left: 2px;
    }
  
    .iconesRedeSocieal {
      position: absolute;
      left: -28px;
      top: 2px;
      height: 73px;
      bottom: 85px;
      right: 4px;
  
    }
  
    .card {
      width: 333px;
      height: 574px;
      left: 107px;
      top: 255px;
    }
  
    #paragrafoRodape {
      left: 80px;
      top: 33px;
    }
  
    #iconePrincipal {
      top: 39px;
      left: 12px;
    }
  
    #inputMensagemSecreta {
      width: 344px;
      top: 168px;
      left: 104px;
    }
  
    #iconeAviso {
      left: 107px;
      bottom: 791px;
    }
  
    #paragrafoAviso {
      left: 134px;
      bottom: 791px;
    }
  
    #bntCriptor {
      width: 160px;
      left: 107px;
      bottom: 26px;
    }
  
    #bntDescriptor {
      width: 160px;
      left: 277px;
      bottom: 26px;
    }
  
    #iconeCard {
      width: 304px;
      height: 257px;
      left: 0px;
      right: 347px;
      top: 50px;
    }
  
    #paragrafoMenssagem {
      top: 349px;
      left: 0px;
    }
  
    #paragrafoTexto {
  
      top: 418px;
      left: 0px;
    }
  
    #bntCopiarTexto {
      width: 160px;
      bottom: 38px;
      left: 89px;
    }
}