body {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #E5E5E5;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card {
  background: white;
  position: absolute;
  border-radius: 32px;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;
}

.textAviso {
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 284px;
  left: 223px;
}

.textoEbnt {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.fixarRodape {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #0A3871;
  top: 1019px;
  right: 1px;
  height: 83px;
  width: 1445px;
  border-radius: 16px 16px 16px 16px;
}

#iconePrincipal {
  position: absolute;
  width: 31.09px;
  top: 40px;
  left: 61px;
}

#iconeCard {
  position: absolute;
  width: 336px;
  height: 304px;
  left: 56px;
  top: 187px;
}

#inputMensagemSecreta {
  position: absolute;
  width: 660px;
  height: 32px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
  top: 168px;
  left: 240px;
}

#bntCriptor {
  position: absolute;
  padding: 24px;
  gap: 8px;
  width: 328px;
  background: #0A3871;
  border-radius: 24px;
  border: 1px solid #0A3871;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 240px;
  bottom: 143px;
}

#bntDescriptor {
  box-sizing: border-box;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  bottom: 143px;
  left: 591px;
}

#bntCopiarTexto {
  position: absolute;
  padding: 24px;
  gap: 8px;
  width: 328px;
  border: 1px solid #c6c6c7;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  bottom: 99px;
  left: 43px;
}

#iconeAviso {
  position: absolute;
  left: 240px;
  bottom: 223px;
}

#paragrafoAviso {
  position: absolute;
  width: 228px;
  height: 18px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 265px;
  bottom: 223px;
}

#paragrafoMenssagem {
  position: absolute;
  width: 344px;
  height: 47px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: #343A40;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  top: 488px;
  left: 40px;
}

#paragrafoTexto {
  position: absolute;
  width: 336px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  top: 562px;
  left: 40px;
}

#iconeLinkedin {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 50px;
  top: 13px;
}

#iconeGithub {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 50px;
  top: 48px;
}

#paragrafoRodapeLinkedin {
  position: absolute;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: white;
  left: 91px;
  top: 2px;
}

#paragrafoRodapeGithub {
  position: absolute;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: white;
  left: 91px;
  top: 38px;
}

#paragrafoRodape {
  position: absolute;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: white;
  left: 145px;
  top: 19px;
}

#recebeMensagem {
  position: absolute;
  height: 692px;
  left: 11px;
  top: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #495057;
}

@media (max-width: 1230px) {
  #btn__copy{
      height: 50px;
      width: 200px;
  }
  #bntCriptor{
      height: 50px;
      width: 150px;
      margin-right: 0px;
      font-size: 19px;
  }
  #bntDescriptor{
      height: 50px;
      width: 150px;
      font-size: 19px;
  }
}
@media (max-width: 912px) {
  #btn__copy{
      height: 70px;
      width: 200px;
      margin-top: 15px;
  }
  #texinputMensagemSecretat__input{
      width: 90%;
  }
  #bntCriptor{
      height: 50px;
      width: 290px;
      font-size: 24px;
      margin: 0;

  }
  #bntDescriptor{
      height: 50px;
      width: 290px;
      font-size: 23px;
  }
}
@media (max-width: 768px) {
  #btn__copy{
      height: 80px;
      width: 130px;
      margin-top: 12px;
  }
  #text__input{
      width: 85%;
  }
  #btn__cripto{
      height: 50px;
      width: 240px;
      font-size: 24px;
      margin: 0;
  }
  #btn__descripto{
      height: 50px;
      width: 240px;
      font-size: 24px;
  }
}
@media (max-width: 605px) {
  #text__input{
      width: 85%;
  }
  #btn__copy{
      height: 75px;
      width: 130px;
  }
  #btn__cripto{
      height: 50px;
      width: 180px;
      font-size: 20px;
      margin: 0;
  }
  #btn__descripto{
      height: 50px;
      width: 180px;
      font-size: 20px;
  }
}
@media (max-width: 490px){
  .text__box{
      width: 90%;
  }
  #text__input{
      width: 85%;
  }
  #btn__copy{
      height: 80px;
      width: 80px;
      margin-top: 12px;
  }
  #btn__cripto{
      height: 50px;
      width: 140px;
      font-size: 18px;
      margin: 0;
      box-shadow: 3px 2px 0px black;
  }
  #btn__descripto{
      height: 50px;
      width: 140px;
      font-size: 17px;
      box-shadow: 3px 2px 0px black;
  }
  header {
      margin: 0 auto;
      margin-top: 32px;
      height: fit-content;
      width: 80%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
  } 
  header h1{
      font-size: 32px;
  } 
  .info img{
      height: 60px;
      width: 60px;
  }
}

@media (max-width: 350px){
  .text__box{
      width: 75%;
  }
  #text__input{
      width: 85%;
  }
  #btn__copy{
      height: 75px;
      width: 80px;
  }
  #btn__cripto{
      height: 50px;
      width: 110px;
      font-size: 16px;
      margin: 0;
      box-shadow: 3px 2px 0px black;
  }
  #btn__descripto{
      height: 50px;
      width: 110px;
      font-size: 13px;
      box-shadow: 3px 2px 0px black;
  }
  header {
      margin: 0 auto;
      margin-top: 32px;
      height: fit-content;
      width: 30%;
      flex-wrap: wrap;
  } 
  header h1{
      font-size: 32px;
    
  }

}